openapi: 3.0.3
info:
  title: IM1 PFS Auth API
  version: "0.1"
  description: |
    ## Overview

    IM1 PFS Auth provides a means of authenticating a user and establishing an IM1 session to access Patient-Facing Services (PFS).
    The API authenticates a user via an NHS login token and routes requests to the specified supplier system and ODS code.
    If the user's account is successfully matched, the API returns the new IM1 session details.

    ![IM1 PFS Auth API High-level Diagram](https://raw.githubusercontent.com/NHSDigital/im1-pfs-auth/main/specification/assets/overview.drawio.svg)

    You can use this API to:

    - authenticate a user and initiate a session with the appropriate supplier system for:
      - a specific patient
      - all patients that the logged-in user has an online account for

    ## Who can use this API
    You can only use this API if you have a valid legal basis.
    Before investing significant time in development, confirm that your use case is appropriate by [contacting us](https://digital.nhs.uk/developer/help-and-support).

    You must do this before you can go live.

    ## API status and roadmap
    This API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses).

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    ## Network access
    This API is available on the internet.

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation

    This API supports [user-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis) access type with the following access modes:

    | Access mode                   | Access type            |
    |-------------------------------|------------------------|
    | Patient access                | User-restricted        |

    For more information on access modes and how to use them, see the developer [security and authorisation guide](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation).

    ### User-restricted access

    This API has user-restricted access, meaning an end user must be present, authenticated and authorised.

    #### Patient access mode
    If the end user is a patient then you must use this access mode.

    [Review all patient access modes](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#patient-access-mode)


    ## Headers
    This API is case-insensitive when processing request headers, meaning it will accept headers regardless of the letter casing used. For example, NHSE-Request-Id, nhse-request-id are treated the same.

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server

    Each endpoint lists its own specific errors in the Responses section. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.

    ## Open source
    You might find the following [open source](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#open-source) resources useful:

    | Resource         | Description                                               | Links                                                     |
    | ---------------- | --------------------------------------------------------- | --------------------------------------------------------- |
    | IM1 PFS Auth API | Source code for the API proxy, sandbox and specification. | [GitHub repo](https://github.com/NHSDigital/im1-pfs-auth) |

    ## Environments and testing
    | Environment       | Base URL                                           |
    | ----------------- | -------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/im1-pfs-auth/` |
    | Integration test  | `https://int.api.service.nhs.uk/im1-pfs-auth/`     |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing)

    * is for early developer testing
    * only covers a limited set of scenarios
    * is open access, so does not allow you to test authorisation

    [![Import Postman Collection](https://img.shields.io/badge/Import-Postman%20Collection-orange?logo=postman)](https://raw.githubusercontent.com/NHSDigital/im1-pfs-auth/main/postman/postman_collection.json)

    Import the  postman collection to run requests against sandbox.

    ## Contact us
    For help and support connecting to our APIs and to join our developer community, see [Help and support building healthcare software](https://digital.nhs.uk/developer/help-and-support).

servers:
  - url: https://sandbox.api.service.nhs.uk/im1-pfs-auth/
  - url: https://int.api.service.nhs.uk/im1-pfs-auth/

paths:
  /authenticate:
    post:
      tags:
        - sessions
      summary: Create a session
      security:
        - nhs-login-p9: []
      description: |
        ## Overview

        A user can authenticate and establish a session with GPIT supplier systems.

        This endpoint:
          - Verifies the user access token
          - Determines which supplier system to forward requests onto
          - Transforms response

        ## Access modes

        This endpoint supports the following access modes:
        - Patient access

        ## Sandbox test scenarios

        See the postman collection for example requests.

        | Scenario               | Request                                                                                     | Response                                                    |
        | ---------------------- | ------------------------------------------------------------------------------------------- | ----------------------------------------------------------- |
        | Successful request     | Valid request with forward to value of https://example.com and ods code value of A29929     | HTTP Status 201 Success response                            |

        ### Sandbox constraints
          - Headers that are not required for the scenario are not validated and are disregarded.

        Or perhaps you'd like to try out the sandbox using our 'Try it out' feature.
      parameters:
        - $ref: "./components/parameters/Authorization.yaml"
        - $ref: "./components/parameters/NHSE-Application-ID.yaml"
        - $ref: "./components/parameters/NHSE-Request-ID.yaml"
        - $ref: "./components/parameters/NHSE-Forward-To.yaml"
        - $ref: "./components/parameters/NHSE-ODS-Code.yaml"
        - $ref: "./components/parameters/NHSE-Correlation-ID.yaml"
      responses:
        "201":
          description: The session was created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseModel"
        "4XX":
          description: |
            Errors will be returned for the first error encountered in the request. An error occurred as follows:

            | HTTP status | Error code              | Description                                                                                                                               |
            | ----------- | ----------------------- | ----------------------------------------------------------------------------------------------------------------------------------------- |
            | 400         | `BAD_REQUEST`           | Missing header.                                                                                                                           |
            | 400         | `BAD_REQUEST`           | Invalid header.                                                                                                                           |
            | 401         | `UNAUTHORIZED`          | Missing or invalid OAuth 2.0 bearer token in request.                                                                                     |
            | 404         | `NOT_FOUND`             | Resource not found.                                                                                                                       |
            | 403         | `FORBIDDEN`             | Access denied to resource.                                                                                                                |
            | 408         | `REQUEST_TIMEOUT`       | Request timed out.                                                                                                                        |
            | 429         | `TOO_MANY_REQUESTS`     | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationOutcome"
              examples:
                missingValueError:
                  externalValue: "./examples/errors.yaml#/MissingValueError"
                invalidValueError:
                  externalValue: "./examples/errors.yaml#/InvalidValueError"
                notFoundError:
                  externalValue: "./examples/errors.yaml#/NotFoundError"
                accessDeniedError:
                  externalValue: "./examples/errors.yaml#/AccessDeniedErrorError"
                forbiddenError:
                  externalValue: "./examples/errors.yaml#/ForbiddenError"
                timeoutError:
                  externalValue: "./examples/errors.yaml#/TimeoutError"
                throttledError:
                  externalValue: "./examples/errors.yaml#/ThrottledError"
        "5XX":
          description: |
            Errors will be returned for the first error encountered in the request. An error occurred as follows:

            | HTTP status | Error code              | Description                                       |
            | ----------- | ----------------------- | ------------------------------------------------- |
            | 500         | `SERVER_ERROR`          | An unexpected internal server error has occurred. |
            | 502         | `BAD_GATEWAY`           | An error downstream has occurred.                 |
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationOutcome"
              examples:
                serverError:
                  externalValue: "./examples/errors.yaml#/InternalServerError"
                downstreamError:
                  externalValue: "./examples/errors.yaml#/DownstreamError"

components:
  securitySchemes:
    nhs-login-p9:
      $ref: "https://proxygen.prod.api.platform.nhs.uk/components/securitySchemes/nhs-login-p9"

  schemas:
    ResponseModel:
      oneOf:
        - $ref: "#/components/schemas/EMISResponseModel"
        - $ref: "#/components/schemas/TPPResponseModel"

    EMISResponseModel:
      required:
        - sessionId
          endUserSessionId
          supplier
          proxy
          patients
      type: object
      properties:
        sessionId:
          minLength: 1
          type: string
        endUserSessionId:
          type: string
        supplier:
          enum: [EMIS]
          type: string
        proxy:
          $ref: "#/components/schemas/DemographicsModel"
        patients:
          type: array
          items:
            $ref: "#/components/schemas/EMISPatientModel"
      additionalProperties: false

    TPPResponseModel:
      required:
        - sessionId
          supplier
          proxy
          patients
      type: object
      properties:
        sessionId:
          minLength: 1
          type: string
        supplier:
          enum: [TPP]
          type: string
        proxy:
          $ref: "#/components/schemas/DemographicsModel"
        patients:
          type: array
          items:
            $ref: "#/components/schemas/TPPPatientModel"
      additionalProperties: false

    DemographicsModel:
      required:
        - firstName
          surname
          title
      type: object
      properties:
        firstName:
          type: string
        surname:
          type: string
        title:
          type: string

    EMISPatientModel:
      allOf:
        - $ref: "#/components/schemas/DemographicsModel"
        - required:
            - permissions
          type: object
          properties:
            permissions:
              $ref: "#/components/schemas/EMISPermissionsModel"

    EMISPermissionsModel:
      required:
        - appointmentsEnabled
          demographicsUpdateEnabled
          epsEnabled
          medicalRecordEnabled
          onlineTriageEnabled
          practicePatientCommunicationEnabled
          prescribingEnabled
          recordSharingEnabled
          recordViewAuditEnabled
          medicalRecord
      type: object
      properties:
        appointmentsEnabled:
          type: boolean
        demographicsUpdateEnabled:
          type: boolean
        epsEnabled:
          type: boolean
        medicalRecordEnabled:
          type: boolean
        onlineTriageEnabled:
          type: boolean
        practicePatientCommunicationEnabled:
          type: boolean
        prescribingEnabled:
          type: boolean
        recordSharingEnabled:
          type: boolean
        recordViewAuditEnabled:
          type: boolean
        medicalRecord:
          $ref: "#/components/schemas/EMISMedicalRecordModel"

    EMISMedicalRecordModel:
      required:
        - recordAccessScheme
          allergiesEnabled
          consultationsEnabled
          immunisationsEnabled
          documentsEnabled
          medicationEnabled
          problemsEnabled
          testResultsEnabled
      type: object
      properties:
        recordAccessScheme:
          type: string
          enum:
            [
              "Legacy",
              "None",
              "CoreSummaryCareRecord",
              "DetailedCodedCareRecord",
            ]
        allergiesEnabled:
          type: boolean
        consultationsEnabled:
          type: boolean
        immunisationsEnabled:
          type: boolean
        documentsEnabled:
          type: boolean
        medicationEnabled:
          type: boolean
        problemsEnabled:
          type: boolean
        testResultsEnabled:
          type: boolean

    TPPPatientModel:
      allOf:
        - $ref: "#/components/schemas/DemographicsModel"
        - required:
            - permissions
          type: object
          properties:
            permissions:
              type: array
              items:
                $ref: "#/components/schemas/TPPServiceAccess"

    TPPServiceAccess:
      required:
        - description
          serviceIdentifier
          status
          statusDescription
      type: object
      properties:
        description:
          type: string
          enum:
            [
              "Full Clinical Record",
              "Appointments",
              "Request Medication",
              "Questionnaires",
              "Summary Record",
              "Detailed Coded Record",
              "Messaging",
              "View Sharing Status",
              "Record Audit",
              "Change Pharmacy",
              "Manage Sharing Rules And Requests",
              "Access SystmConnect",
            ]
        serviceIdentifier:
          type: integer
        status:
          type: string
          enum: ["A", "U", "N", "G", "O"]
        statusDescription:
          type: string
          enum:
            [
              "Available",
              "Unavailable",
              "Not offered by unit",
              "Only available to GMS registered patients",
              "Other",
            ]

    OperationOutcome:
      type: object
      description: |
        Outcome of an operation as a result of an error.
        There are a number of possible error codes that can be returned along with a more detailed description in the `display` field.
      properties:
        resourceType:
          type: string
          description: FHIR Resource Type.
          default: OperationOutcome
        issue:
          type: array
          description: List of issues that have occurred.
          minItems: 1
          items:
            type: object
            required:
              - severity
              - code
            properties:
              severity:
                type: string
                enum: [fatal, error, warning, information]
                description: Severity of the error.
              code:
                type: string
                description: FHIR error code.
                enum:
                  - forbidden
                  - processing
                  - exception
              details:
                type: object
                description: Internal error code.
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          description: URI of the coding system specification.
                          enum:
                            [
                              "https://fhir.nhs.uk/R4/CodeSystem/IM1-PFS-Auth-ErrorOrWarningCode",
                            ]
                        version:
                          type: string
                          description: Version of the coding system in use.
                        code:
                          type: string
                          description: Symbol in syntax defined by the system.
                        display:
                          type: string
                          description: Representation defined by the system.
              diagnostics:
                type: string
                description: Additional diagnostic information about the issue. This information is subject to change.
              expression:
                type: string
                description: FHIRPath of element(s) related to the error.

x-nhsd-apim:
  $ref: "x-nhsd-apim/x-nhsd-apim.generated.yaml"
