name: "CICD"

on:
  pull_request:
    branches: [main]
  workflow_dispatch: # Temporary manual trigger for testing

permissions: {}

jobs:
  core-code-checks:
    name: "Run Core Code Checks"
    uses: ./.github/workflows/reusable-core-code-checks.yml
    permissions:
      contents: read
      id-token: write

  additional-code-checks:
    name: "Run Additional Code Checks"
    uses: ./.github/workflows/reusable-additional-code-checks.yml
    permissions:
      contents: read
      id-token: write

  deploy-to-dev:
    name: "Deploy to Dev Environment"
    uses: ./.github/workflows/cicd-stage-1-deploy-to-dev.yml
    needs:
      - core-code-checks
      - additional-code-checks

  deploy-to-int:
    name: "Deploy to Int Environment"
    uses: ./.github/workflows/cicd-stage-2-deploy-to-int.yml
    needs: deploy-to-dev
