name: "Pull Request Checks"

# This workflow is triggered on pull requests and is the entrypoint for any pull request pipeline.

on:
  pull_request:
    branches: [main]

permissions: {}

jobs:
  core-code-checks:
    name: "Run Core Code Checks"
    uses: ./.github/workflows/reusable-core-code-checks.yml
    permissions:
      contents: read
      id-token: write

  additional-code-checks:
    name: "Run Additional Code Checks"
    uses: ./.github/workflows/reusable-additional-code-checks.yml
    permissions:
      contents: read
      id-token: write

  deploy-dev-app:
    name: "Deploy Pull Request App Environment"
    uses: ./.github/workflows/reusable-deploy.yml
    needs: core-code-checks
    if: ${{ github.actor != 'dependabot[bot]' }}
    with:
      environment: "internal-dev"
      type_of_deployment: "app"
      additional_path: "pr-${{ github.event.number }}"
      use_mock: "True"
    secrets:
      PROXYGEN_CLIENT_ID: ${{ secrets.PROXYGEN_CLIENT_ID }}
      PROXYGEN_KEY_ID: ${{ secrets.PROXYGEN_KEY_ID }}
      PROXYGEN_PRIVATE_KEY: ${{ secrets.PROXYGEN_PRIVATE_KEY }}

  deploy-dev-sandbox:
    name: "Deploy Pull Request Sandbox Environment"
    uses: ./.github/workflows/reusable-deploy.yml
    needs: core-code-checks
    if: ${{ github.actor != 'dependabot[bot]' }}
    with:
      environment: "internal-dev-sandbox"
      additional_path: "pr-${{ github.event.number }}"
      type_of_deployment: "sandbox"
    secrets:
      PROXYGEN_CLIENT_ID: ${{ secrets.PROXYGEN_CLIENT_ID }}
      PROXYGEN_KEY_ID: ${{ secrets.PROXYGEN_KEY_ID }}
      PROXYGEN_PRIVATE_KEY: ${{ secrets.PROXYGEN_PRIVATE_KEY }}

  run-postman-collection:
    name: "Run Postman Collection"
    runs-on: ubuntu-latest
    needs: deploy-dev-sandbox
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Run Postman Collection
        uses: ./.github/actions/run-postman-collection
        env:
          SANDBOX_BASE_URL: ${{ needs.deploy-dev-sandbox.outputs.environment_url }}
