name: "Pull Request Checks"

# This workflow is triggered on pull requests and is the entrypoint for any pull request pipeline.

on:
  pull_request:
    branches: [main]

permissions: {}

jobs:
  core-code-checks:
    name: "Run Core Code Checks"
    uses: ./.github/workflows/reusable-core-code-checks.yml
    permissions:
      contents: read
      id-token: write

  additional-code-checks:
    name: "Run Additional Code Checks"
    uses: ./.github/workflows/reusable-additional-code-checks.yml
    permissions:
      contents: read
      id-token: write

  deploy-sandbox:
    name: "Deploy Pull Request Sandbox Environment"
    uses: ./.github/workflows/reusable-deploy.yml
    needs: core-code-checks
    if: ${{ github.actor != 'dependabot[bot]' }}
    with:
      environment: "internal-dev"
      additional_path: "pr-${{ github.event.number }}"
    secrets:
      PROXYGEN_CLIENT_ID: ${{ secrets.PROXYGEN_CLIENT_ID }}
      PROXYGEN_KEY_ID: ${{ secrets.PROXYGEN_KEY_ID }}
      PROXYGEN_PRIVATE_KEY: ${{ secrets.PROXYGEN_PRIVATE_KEY }}
